@import "tailwindcss";

@layer base {
  :root {
    --bg: 240 249 244;
    --fg: 13 33 26;

    --primary-50: 240 249 244;
    --primary-100: 219 240 227;
    --primary-200: 186 224 203;
    --primary-300: 141 200 172;
    --primary-400: 92 171 136;
    --primary-500: 67 162 123;
    --primary-600: 42 113 85;
    --primary-700: 33 91 69;
    --primary-800: 29 72 57;
    --primary-900: 24 60 47;
    --primary-950: 13 33 26;
  }

  .dark {
    --bg: 13 33 26;
    --fg: 240 249 244;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



